<section class="relative w-full h-screen overflow-hidden">

  <img src="/images/error404.jpg" 
       alt="404 Not Found" 
       class="w-full h-full object-cover">


  <div class="absolute inset-0 bg-gray-900 bg-opacity-50"></div>


  <div class="absolute inset-0 flex flex-col items-center justify-center space-y-6 text-center px-4">
    <h1 class="text-5xl font-bold text-gray-300 drop-shadow-lg">Oops! Page Not Found</h1>
   
    <a routerLink="/home" 
       class="px-8 py-3 bg-green-600 hover:bg-green-700 transition-colors rounded-lg text-white font-semibold shadow-lg">
      Go To Home
    </a>
  </div>
</section>
