<footer  class="bg-gray-200 py-12 mt-20 border-t border-gray-200 ">
  <div class="w-11/12 mx-auto">
  
    <h2 class="text-2xl font-semibold mb-2 text-green-600">Get The FreshCart App</h2>
    <p class="text-gray-500 text-sm mb-5"> 
      We will send you a link. Open it on your phone to download the app.
    </p>

    <div class="flex flex-col sm:flex-row items-center gap-3 mb-6">
      <input
        type="email"
        class="w-[80%] rounded-lg border border-gray-300 px-4 py-2 focus:ring-2 focus:ring-green-500 outline-none"
        placeholder="Enter your email"
      />
      <button
        class="bg-green-600 hover:bg-green-700 text-white px-6 py-2 rounded-lg w-full sm:w-auto transition"
      >
        Share App Link
      </button>
    </div>

    <hr class="border-gray-200 my-6" />

    <div class="md:flex justify-between items-center gap-6">
      
      <div class="flex items-center flex-wrap gap-3 mb-4 md:mb-0">
        <h3 class="text-sm font-medium text-green-600">Payment partners:</h3>
        <img src="/images/amazon-pay.png" class="h-6" alt="Amazon Pay" />
        <img src="/images/American-Express-Color.png" class="h-6" alt="Amex" />
        <img src="/images/paypal.png" class="h-6" alt="PayPal" />
        <img src="/images/mastercard.webp" class="h-6" alt="Mastercard" />
      </div>

      <div class="flex items-center gap-3">
        <h3 class="text-sm font-medium text-green-600">
          Get Deliveries with FreshCart:
        </h3>
        <img src="/images/get-google-play.png" class="h-10" alt="Google Play" />
        <img src="/images/get-apple-store.png" class="h-10" alt="App Store" />
      </div>
    </div>
  </div>
</footer>
